<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Blue Lock?</title>
</head>
<link rel="icon" type="image/jpg" href="../assets/img/Logo1.png">
<body class="parallaxfondobluelock" >
    <header>
        <h1 class="card__lyrics--white"> <strong>Blue Lock: En busca del mejor delantero</strong> </h1>
        <ul class="card__ul">
            <li class="card__li"><a href="../index.html">Inicio</a></li>
            <li class="card__li"><a href="chainsawman.html">Chainsawman</a></li> 
            <li class="card__li"><a href="bluelock.html">Blue Lock</a></li>
            <li class="card__li"><a href="jigokuraku.html">Jigokuraku</a></li>
            <li class="card__li"><a href="oddtaxi.html">OddTaxi</a></li>
            <li class="card__li"><a href="madeinabyss.html">Made in Abyss</a></li>
            <li class="card__li"><a href="spyxfamily.html">Spy x Family</a></li>
            <li class="card__li"><a href="quiensoy.html">Quienes somos Nosotros?</a></li>
        </ul>
    </header>
    <header class="card__title card__lyrics--white"> <h2>Blue Lock</h2></header>
       <div class="section">
           <div class="box">
            <img src="../assets/img/CoverBlueLock.png" width="500px" alt="BlueLock">    
            <div class="hover">
                <h3>portada numero uno del manga</h3>
            </div>    
        </div>
       </div>
    <form action="enviar.js"></form>
    <hr />
    <p class="card__lyrics--white">¿Leiste el manga de Blue Lock?</p>
    <label for="" class="card__lyrics--white">Si</label>
    <input type="radio" name="pais" id="si">
    <label for="" class="card__lyrics--white">No</label>
    <input type="radio" name="pais" id="no">
    <label for="" class="card__lyrics--white">Lo voy leer </label>
    <input type="radio" name="pais" id="no">
    <label for="" class="card__lyrics--white">Voy a esperar al anime</label>
    <input type="radio" name="pais" id="no">
    <button type="reset">Enviar</button>
<hr/>
    <h2 class="card__lyrics--white card__subtitle">¿De que trata Blue Lock?</h2>
        <div class="boxModelBL card__lyrics--white transition">
            <p> Tras una desastrosa derrota en el Mundial 2018, la selección de Japón lucha por recuperarse. ¿Pero qué le falta? Un delantero absoluto, que pueda guiarles hacia la victoria. La Asociación de Fútbol de Japón está empeñada en crear un delantero con hambre de gol y sed de victoria, que pueda ser el instrumento decisivo para dar la vuelta a un partido perdido… y para ello ha reunido a 300 de los mejores y más brillantes jugadores juveniles de Japón, encerrándolos en un centro conocido como “Blue Lock”. ¿Quién se convertirá en el líder del equipo? ¿Será capaz de superar a todos los que se interpongan en su camino?</p>
        </div>
        <div>
            <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/2PAOSbOW2Gg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>    
</body>
<br>
<footer  class="card__lyrics--white boxblack"> Cualquier consulta a mi mail: ian01gallardo@gmail.com</footer>
</html>