<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Chainsawman?</title>
</head>
<link rel="icon" type="image/jpg" href="../assets/img/Logo1.png">
<body class="parallaxfondochainsawman">
    <header>
        <h1> <strong>Chainsawman: El pibe Motosierra</strong> </h1>
        <ul class="card__ul">
            <li class="card__li"><a href="../index.html">Inicio</a></li>
            <li class="card__li"><a href="chainsawman.html">Chainsawman</a></li> 
            <li class="card__li"><a href="bluelock.html">Blue Lock</a></li>
            <li class="card__li"><a href="jigokuraku.html">Jigokuraku</a></li>
            <li class="card__li"><a href="oddtaxi.html">OddTaxi</a></li>
            <li class="card__li"><a href="madeinabyss.html">Made in Abyss</a></li>
            <li class="card__li"><a href="spyxfamily.html">Spy x Family</a></li>
            <li class="card__li"><a href="quiensoy.html">Quienes somos Nosotros?</a></li>
        </ul>
    </header>
    <header class="card__title"> <h2>Chainsawman</h2></header>
        <body>
            <div class="slider">
                <ul>
                    <li><img src="../assets/img/chainsawmancover1.jpg" width="500px" alt=""></li>
                    <li><img src="../assets/img/chainsawmancover2.jpg" width="500px" alt=""></li>
                    <li><img src="../assets/img/chainsawmancover3.jpg" width="500px" alt=""></li>
                    <li><img src="../assets/img/chainsawmancover4.jpg" width="500px" alt=""></li>
                    <li><img src="../assets/img/chainsawmancover5.jpg" width="500px" alt=""></li>
                </ul>
            </div>
        </body>
    <form action="enviar.js"></form>
    <hr />
    <p>¿Leiste el manga de Chainsawman?</p>
    <label for="">Si</label>
    <input type="radio" name="pais" id="si">
    <label for="">No</label>
    <input type="radio" name="pais" id="no">
    <label for="">Lo voy leer </label>
    <input type="radio" name="pais" id="no">
    <label for="">Voy a esperar al anime</label>
    <input type="radio" name="pais" id="no">
    <button type="reset">Enviar</button>
<hr/>
    <h2 class="card__subtitle">¿De que trata Chainsaw man?</h2>
        <div class="boxModelCM card__lyrics--white">
            Cuando su padre murió, Denji se vio obligado a saldar una gran deuda y no había forma de pagarla. Pero gracias a la ayuda de un Demonio Perro que salvó llamado Pochita, Denji es capaz de sobrevivir convirtiéndose en un Cazador Demonio a sueldo haciendo trabajos para los Yakuza.
        </div>
        <div>
            <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/eyonP1AgC0k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
        </div>    
</body>
<br>
<footer> Cualquier consulta a mi mail: ian01gallardo@gmail.com</footer>
</html>