<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Jigokuraku?</title>
</head>
<link rel="icon" type="image/jpg" href="../assets/img/Logo1.png">
<body class="parallaxfondojigokuraku">
    <header>
        <h1> <strong>Jigokuraku: Gabimaru al Vacio</strong> </h1>
        <ul class="card__ul">
            <li class="card__li"><a href="../index.html">Inicio</a></li>
            <li class="card__li"><a href="chainsawman.html">Chainsawman</a></li> 
            <li class="card__li"><a href="bluelock.html">Blue Lock</a></li>
            <li class="card__li"><a href="jigokuraku.html">Jigokuraku</a></li>
            <li class="card__li"><a href="oddtaxi.html">OddTaxi</a></li>
            <li class="card__li"><a href="madeinabyss.html">Made in Abyss</a></li>
            <li class="card__li"><a href="spyxfamily.html">Spy x Family</a></li>
            <li class="card__li"><a href="quiensoy.html">Quienes somos Nosotros?</a></li>
        </ul>
    </header>
    <header class="card__title"> <h2>Jigokuraku</h2></header>
        <img src="../assets/img/CoverJigokuraku.png" width="500px" alt="Jigokuraku">    
    <form action="enviar.js"></form>
    <hr />
    <p>¿Leiste el manga de Jigokuraku?</p>
    <label for="">Si</label>
    <input type="radio" name="pais" id="si">
    <label for="">No</label>
    <input type="radio" name="pais" id="no">
    <label for="">Lo voy leer </label>
    <input type="radio" name="pais" id="no">
    <label for="">Voy a esperar al anime</label>
    <input type="radio" name="pais" id="no">
    <button type="reset">Enviar</button>
<hr/>
    <h2 class="card__subtitle">¿De que trata Jigokuraku?</h2>
        <div class="boxModelCM card__lyrics--white">
            Ambientada en algún momento del período Edo, Jigokuraku narra la historia de Gabimaru el vacío. Un ninja asesino de Iwagakure dotado de unos poderes que bien podríamos tachar como sobrenaturales. ... Una samurai del clan Yamada capaz de matar con tan solo un corte de katana al joven ninja.
        </div>
        <div>
            <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/QHcLGFgb2y8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>    
</body>
<br>
<footer> Cualquier consulta a mi mail: ian01gallardo@gmail.com</footer>
</html>