<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>OddTaxi?</title>
</head>
     <link rel="icon" type="image/jpg" href="../assets/img/Logo1.png">
<body class="parallaxfondooddtaxi">
    <header>
        <h1 class="card__lyrics--white"> <strong>OddTaxi: El Misterio de manejar de Noche</strong> </h1>
        <ul class="card__ul">
            <li class="card__li"><a href="../index.html">Inicio</a></li>
            <li class="card__li"><a href="chainsawman.html">Chainsawman</a></li> 
            <li class="card__li"><a href="bluelock.html">Blue Lock</a></li>
            <li class="card__li"><a href="jigokuraku.html">Jigokuraku</a></li>
            <li class="card__li"><a href="oddtaxi.html">OddTaxi</a></li>
            <li class="card__li"><a href="madeinabyss.html">Made in Abyss</a></li>
            <li class="card__li"><a href="spyxfamily.html">Spy x Family</a></li>
            <li class="card__li"><a href="quiensoy.html">Quienes somos Nosotros?</a></li>
        </ul>
    </header>
    <header class="card__title card__lyrics--white"> <h2>OddTaxi</h2></header>
        <img src="../assets/img/CoverOddTaxi.jpg" width="500px" alt="OddTaxi">    
    <form action="enviar.js"></form>
    <hr />
    <p class="card__lyrics--white">¿Leiste el manga de OddTaxi?</p>
    <label for="" class="card__lyrics--white">Si</label>
    <input type="radio" name="pais" id="si">
    <label for=""class="card__lyrics--white">No</label>
    <input type="radio" name="pais" id="no">
    <label for=""class="card__lyrics--white">Lo voy leer </label>
    <input type="radio" name="pais" id="no">
    <label for=""class="card__lyrics--white">Voy a esperar al anime</label>
    <input type="radio" name="pais" id="no">
    <button type="reset">Enviar</button>
<hr/>
    <h2 class="card__lyrics--white card__subtitle">¿De que trata OddTaxi?</h2>
        <div class="boxModelCM card__lyrics--white">
            Conduce un taxi para ganarse la vida, y allí conoce a varias personas únicas: el desempleado Kabasawa que está decidido a volverse viral, la misteriosa enfermera Shirakawa, el dúo cómico en apuros “Homo Sapiens” y Dobu, un conocido delincuente.
        </div>
        <div>
            <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/X4Uuh3n3mac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>    
</body>
<br>
<footer> Cualquier consulta a mi mail: ian01gallardo@gmail.com</footer>
</html>