<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>quien soy?</title>
</head>
     <link rel="icon" type="image/jpg" href="../assets/img/Logo1.png">
<body class="parallaxContact">
    <header>
        <h1 class="card__title">Quienes somos?</h1>
        <ul class="card__ul">
          <li class="card__li"><a href="../index.html">Inicio</a></li>
          <li class="card__li"><a href="chainsawman.html">Chainsawman</a></li> 
          <li class="card__li"><a href="bluelock.html">Blue Lock</a></li>
          <li class="card__li"><a href="jigokuraku.html">Jigokuraku</a></li>
          <li class="card__li"><a href="oddtaxi.html">OddTaxi</a></li>
          <li class="card__li"><a href="madeinabyss.html">Made in Abyss</a></li>
          <li class="card__li"><a href="spyxfamily.html">Spy x Family</a></li>
          <li class="card__li"><a href="quiensoy.html">Quienes somos Nosotros?</a></li>
      </ul>
    </header>

    <div class="card__photo">
        <img
          class="card__img--left"
          src="../assets/img/IconTanjiro.jpg"
          alt=""
        />
        <p class="card__title--center">
          Somos aficionados al Anime y la cultura japonesa, decidimos crear esta pagina para poder darle un espacio a esta gran comunidad para informarse de animes de calidad y de proximos estrenos que todos estamos esperando.
        </p>
      </div>
    
      <div class="card__photo">
        <p class="card__title--center">
          Yo me llamo Ian, soy un aficionado al anime y mas que nada al genero shonen. Mis animes de la infancia fueron los que me marcaron por el gusto de esta cultura japonesa! Tales como Naruto, One Piece y Pokemon.
        </p>
        <img
          class="card__img--left"
          src="../assets/img/IconTobi.jpg"
          alt=""
        />
      </div>
    
      <div class="card__photo">
        <img
          class="card__img--left"
          src="../assets/img/IconSpike.jpg"
          alt=""
        />
        <p class="card__title--center">
          Ultimamente estoy muy enganchado a los clasicos del anime de los 90 como Cowboy Bebop, Evangelion, Initial D, Nana, Black Lagoon, etc. Opino que la animacion tampoco hace al anime pero si que hay muy buenos animes new gen que vienen pisando fuerte.
        </p>
      </div>
    
      <div class="card__photo">
        <p class="card__title--center">
          Mis animes favoritos son: Fire Force, Tokyo Ghoul, Kimetsu no Yaiba, Naruto series, Deadman Wonderland, One piece, Boku no Hero, Fullmetal alchemist brotherhood, Death Note, etc. Tambien soy muy aficionado al manga donde ya estare haciendo una pagina para eso! Saludos.
        </p>
        <img
          class="card__img--left"
          src="../assets/img/IconSaitama.jpg"
          alt=""
        />
      </div>
    
</body>
</html>
