<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Spy x Family?</title>
</head>
<link rel="icon" type="image/jpg" href="../assets/img/Logo1.png">
<body class="parallaxfondospyxfamily">
    <header>
        <h1> <strong>Spy x Family: La familia Detective</strong> </h1>
        <ul class="card__ul">
            <li class="card__li"><a href="../index.html">Inicio</a></li>
            <li class="card__li"><a href="chainsawman.html">Chainsawman</a></li> 
            <li class="card__li"><a href="bluelock.html">Blue Lock</a></li>
            <li class="card__li"><a href="jigokuraku.html">Jigokuraku</a></li>
            <li class="card__li"><a href="oddtaxi.html">OddTaxi</a></li>
            <li class="card__li"><a href="madeinabyss.html">Made in Abyss</a></li>
            <li class="card__li"><a href="spyxfamily.html">Spy x Family</a></li>
            <li class="card__li"><a href="quiensoy.html">Quienes somos Nosotros?</a></li>
        </ul>
    </header>
    <header class="card__title"> <h2>Spy x Family</h2></header>
        <img src="../assets/img/CoverSpyXFamily.png" width="500px" alt="SpyXFamily">    
    <form action="enviar.js"></form>
    <hr />
    <p>¿Leiste el manga de Spy x Family?</p>
    <label for="">Si</label>
    <input type="radio" name="pais" id="si">
    <label for="">No</label>
    <input type="radio" name="pais" id="no">
    <label for="">Lo voy leer </label>
    <input type="radio" name="pais" id="no">
    <label for="">Voy a esperar al anime</label>
    <input type="radio" name="pais" id="no">
    <button type="reset">Enviar</button>
<hr/>
    <h2 class="card__subtitle">¿De que trata Spy x Family?</h2>
        <div class="boxModelCM card__lyrics--white">
            El agente secreto "Twilight" (黄昏, Tasogare?) debe cumplir con la misión más desafiante en su carrera, Operation "Strinx". Como parte de la mision él deberá casarse y tener una hija para poder acercarse a su objectivo, Donovan Desmond. "Twilight" toma el alias de Loid forger y adopta a una niña huérfana de nombre Anya, una telepata, y eventualmente casandose con Yor Briar, una asesina, sin embargo ellos esconden su identidad del otro sin sospechar.
        </div>
        <div>
            <p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/Oqd2C3oZkBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        </div>    
</body>
<br>
<footer> Cualquier consulta a mi mail: ian01gallardo@gmail.com</footer>
</html>